<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>Team Blog - Overview</title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

</head>

  <body id="main">
    <!--<div id="for_testing"></div>-->
  {% include "header.html" %}
  <div id="page_title">
    <div class="row">
      <div id="heading" class="col-7">
    Follow our progress as we work toward a more inclusive hiring experience
  </div>
  <div class="col-6">
</div>
</div>
  </div>
    <!-- Header -->
    <div class="container">


    <!-- Portfolio -->
    <div id="main_page">
      <section id="portfolio">
        <div class="masonry"><br/>

           <div class="portfolio_image">
            <a href="{{ url_for('blog_week_10') }}">
              <div class="item">
                <img class="blog_image" src="{{ url_for('static', filename='assets/images/jp-office.png') }}" role="presentation"/>
                <div class="blog_week">Week 10</div>
                <div class="blog_title">How Do You Say Goodbye?</div>
              </div>
            </a>
          </div>

           <div class="portfolio_image">
            <a href="{{ url_for('blog_week_9') }}">
              <div class="item">
                <img class="blog_image" src="{{ url_for('static', filename='assets/images/slide-one.png') }}" role="presentation"/>
                <div class="blog_week">Week 09</div>
                <div class="blog_title">If We Could Turn Back Time</div>
              </div>
            </a>
          </div>

           <div class="portfolio_image">
            <a href="{{ url_for('blog_week_8') }}">
              <div class="item">
                <img class="blog_image" src="{{ url_for('static', filename='assets/images/Service-Flow.png') }}" role="presentation"/>
                <div class="blog_week">Week 08</div>
                <div class="blog_title">Designing Decisions</div>
              </div>
            </a>
          </div>


           <div class="portfolio_image">
            <a href="{{ url_for('blog_week_7') }}">
              <div class="item">
                <img class="blog_image" src="{{ url_for('static', filename='assets/images/double-diamond.png') }}" role="presentation"/>
                <div class="blog_week">Week 07</div>
                <div class="blog_title">Divergence Before The Convergence</div>
              </div>
            </a>
          </div>

          <div class="portfolio_image">
            <a href="{{ url_for('blog_week_6') }}">
              <div class="item">
                <img class="blog_image" src="{{ url_for('static', filename='assets/images/voice-over.png') }}" role="presentation"/>
                <div class="blog_week">Week 06</div>
                <div class="blog_title">Racing Down Three Lanes</div>
              </div>
            </a>
          </div>

          <div class="portfolio_image">
            <a href="{{ url_for('blog_week_5') }}">
              <div class="item">
                <img class="blog_image" src="{{ url_for('static', filename='assets/images/variation-one.png') }}" role="presentation"/>
                <div class="blog_week">Week 05</div>
                <div class="blog_title">Accelerating the Pace</div>
              </div>
            </a>
          </div>

          <div class="portfolio_image">
            <a href="{{ url_for('blog_week_4') }}">
              <div class="item">
                <img class="blog_image" src="{{ url_for('static', filename='assets/images/buy-a-feature.png') }}" role="presentation"/>
                <div class="blog_week">Week 04</div>
                <div class="blog_title">Buy a Feature, Any Feature</div>
              </div>
            </a>
          </div>

          <div class="portfolio_image">
            <a href="{{ url_for('blog_week_3') }}">
              <div class="item">
                <img class="blog_image" src="{{ url_for('static', filename='assets/images/technology-slide-copy.png') }}" role="presentation"/>
                <div class="blog_week">Week 03</div>
                <div class="blog_title">Finding a New Need</div>
              </div>
            </a>
          </div>

          <div class="portfolio_image">
            <a href="{{ url_for('blog_week_2') }}">
              <div class="item">
                <img class="blog_image" src="{{ url_for('static', filename='assets/images/futurevscurrent.png') }}" role="presentation"/>
                <div class="blog_week">Week 02</div>
                <div class="blog_title">Starting to Sprint</div>
              </div>
            </a>
          </div>

          <div class="portfolio_image">
            <a href="{{ url_for('blog_week_1') }}">
              <div class="item">
                <img class="blog_image" src="{{ url_for('static', filename='assets/images/dimensions-of-disclosure.png') }}" role="presentation"/>
                <div class="blog_week">Week 01</div>
                <div class="blog_title">Welcome to New York!</div>
              </div>
            </a>
          </div>



        </div>
        <div style="text-align: center;"><a id="show_more" class="d-md-none d-lg-none d-xl-none">Show More</a></div>
      </section><!-- end portfolio section -->

    </div><!-- End main page -->
    </div><!-- end container -->
{% include "footer.html" %}
  </body>
</html>
