<!DOCTYPE html>
<html lang="en">
  <body>{% include "project_head.html" %}
  <!--<div id="for_testing"></div>-->
  <!-- Header -->
  <div class="container">{% include "project_header.html" %}
  <div id="main_page">
    <div class="row">
      <div class="col-md-5">
        <img class="project_photo img-responsive wow fadeIn" data-wow-duration="2s"
        src="{{ url_for('static', filename='assets/images/placeholder.png') }}" height="auto"
        width="85%" alt="Placeholder image" />
      </div>
      <div class="col-md-7">
        <div>
          <h1 class="center-text">Page heading</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <hr id="project_hr" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <h2>Subheading 1</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
      <div class="col-md-7">
        <h2>Subheading 2</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-12">
        <h2 class="section_heading">Subheading 3</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h3>Subheading 4</h3>
       
      </div>
      <div class="col-md-6">
        <h3>Subheading 5</h3>
       
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-12">
        <h2 class="section_heading">Subheading 6</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <img class="img-responsive img-center"
        src="{{ url_for('static', filename='assets/images/placeholder.png') }}" height="auto"
        width="75%" alt="Placeholder image" />
      </div>
      <div class="col-md-4">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      </div>
      <div class="col-md-4">
        <img class="img-responsive img-center"
        src="{{ url_for('static', filename='assets/images/placeholder.png') }}" height="auto"
        width="75%" alt="Placeholder image" />
      </div>
    </div>
    <br />
    <hr />
    <div class="row">
      <div class="col-md-12">
        <h2 class="section_heading">Subheading</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h3>Subheading</h3>
    
      </div>
      <div class="col-md-6">
        <h3>Subheading</h3>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-12">
        <h2 class="section_heading">Subheading</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <img class="img-responsive img-center"
        src="{{ url_for('static', filename='assets/images/placeholder.png') }}" height="auto"
        width="100%" alt="Mood board" />
      </div>
      <div class="col-md-2"></div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-12">
        <h2 class="section_heading">Subheading</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <img class="img-responsive img-center"
        src="{{ url_for('static', filename='assets/images/placeholder.png') }}"
        height="auto" width="100%" alt="Placeholder image" />
      </div>
      <div class="col-md-2"></div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-12">
        <h2 class="section_heading">Subheading</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <img class="img-responsive img-center"
        src="{{ url_for('static', filename='assets/images/placeholder.png') }}"
        height="auto" width="100%" alt="Placeholder image" />
      </div>
      <div class="col-md-4"></div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-12">
        <h2 class="section_heading">Prototype</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <img class="img-responsive img-center"
        src="{{ url_for('static', filename='assets/images/placeholder.png') }}" height="auto"
        width="60%" alt="Placeholder image" />
        <h4 class="text_center">
          <strong>Subtitle</strong>
        </h4>
      </div>
      <div class="col-md-3">
        <img class="img-responsive img-center"
        src="{{ url_for('static', filename='assets/images/placeholder.png') }}"
        height="auto" width="60%" alt="Placeholder image" />
        <h4 class="text_center">
          <strong>Subtitle</strong>
        </h4>
      </div>
      <div class="col-md-3">
        <img class="img-responsive img-center"
        src="{{ url_for('static', filename='assets/images/placeholder.png') }}" height="auto"
        width="60%" alt="Placeholder image" />
        <h4 class="text_center">
          <strong>Subtitle</strong>
        </h4>
      </div>
      <div class="col-md-3">
        <img class="img-responsive img-center"
        src="{{ url_for('static', filename='assets/images/placeholder.png') }}" height="auto"
        width="60%" alt="Placeholder image" />
        <h4 class="text_center">
          <strong>Subtitle</strong>
        </h4>
      </div>
    </div>
    <hr />
    <!-- More Projects -->
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 id="more_projects" class="section_heading">Subheading</h2>
        </div>
      </div>

      </div>
    </div>
    <!-- Footer -->
    <div id="copyright">
      <p>@2018 by Team Bloomberg. All rights reserved.</p>
    </div>
  </div></div>
  <!-- end container -->
  {% include "project_scripts.html" %}</body>
</html>
