
    <!-- Footer -->
    <div id="copyright">
    <div class="row">
      <div class="col-6">
        <span id="university">Carnegie Mellon University</span><br/>
        <span class="degree_program">Master of Human Computer Interaction</span>
      </div>
      <div class="col-6">
        <p align="right"><span class="degree_program">&copy;</span>2018</p>
      </div>
    </div><!--end row-->

  </div><!--end copyright-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <!--<script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>-->
    <script type="text/javascript" src="{{ url_for('static', filename='js/popper.js') }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/smooth-scroll.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/animatedModal.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/wow.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
