<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>Team Blog - Week One</title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

</head>

  <body id="main">
    <!--<div id="for_testing"></div>-->
{% include "header.html" %}
  <div id="page_title">
    <div class="row">
      <div class="col-1"></div>

      <a class="all_posts" href="{{ url_for('blog') }}">< BACK TO ALL POSTS</a>
    </div>

        <div class="row">
                <div class="col-1"></div>

          <div id="heading" class="col-7">Welcome to New York! 
           <div class="blog_week">WEEK 1</div>
        </div>
       <div class="col-6">
</div>
</div>
  </div>


    <!-- Header -->

    <div class="blog_container">
    <!-- Portfolio -->
    <div class="blog_page">
      <h2>If you're going to run a marathon, make sure you take the last few weeks off.</h2>
      <p>It may sound counterintuitive, but the concept of “tapering” is a critical part of marathon training. Tapering is the idea of reducing your training in the last few weeks in order to make you stronger---both mentally and physically---for the big day.</p>
      <p>Our team has been doing our own version of “tapering” this week by using our time together to <b>refuel, reflect, and re-energize</b> for our marathon summer ahead.</p>
      <h2>Refuel: How can we quickly acclimate to a new culture?</h2>
      <p>This summer, we’re thrilled to be working onsite with our clients in their New York City office. This has involved new apartments, new work culture, and new work technology (including the intimidatingly efficient Terminal). Although we were already familiar with our client's work culture from our spring semester research, inhabiting the space on an ongoing basis has already felt different, and will ideally lead us to even more insights about how our client works.</p>
      <img class="blog_photo" src="{{ url_for('static', filename='assets/images/JP-office.png') }}" alt="A woman sits in an office with glass walls and the New York skyline behind her"/>
      <div class="photo_caption">Jinping in our new office space, which has a slightly better view than our room in Pittsburgh!</div><br/><br/>
      <h2>Reflect: How do we optimize our team dynamic?</h2>
      <p>To continue our marathon metaphor, the end of spring semester felt like falling across the finish line. By the last day, we were all drained. Our team spent a considerable amount of time this week discussing how to avoid this in the summer by creating strong, inclusive habits around work distribution, group input, and decision making.</p>
      <p>We made some cards to keep in our room that any team member can “play” at any time to ensure we are living these habits.</p>
      <div class="row">
        <div class="col-4">
          <img class="blog_photo" src="{{ url_for('static', filename='assets/images/ThreeQuestions.png') }}" alt="A card with three question marks"/>
          <p><b>Ask three questions</b></p>
          <p>When offering criticism, we will commit to asking at least three questions. This will not only help us better understand the thinking behind the criticism, but also allow us to be more generative.</p>
        </div>
        <div class="col-4">
          <img class="blog_photo" src="{{ url_for('static', filename='assets/images/QIETriangle.png') }}" alt="A card with a triangle. The triangle has a Q, I and E at each vertice."/>
          <p><b>The QIE triangle</b></p>
          <p>When making key decisions, surface the tension between Q (quality), I (inclusion) and E(efficiency). Using this card ensures we think about the current balance of all three elements.</p>
        </div>
        <div class="col-4">
          <img class="blog_photo" src="{{ url_for('static', filename='assets/images/WhiteBoard.png') }}" alt="A card with three whiteboard markers"/>
          <p><b>Use the whiteboard</b></p>
          <p>When decision making discussions have become a verbal back and forth, use this card to get everyone to draw their ideas at the whiteboard so we can all visualize what we are thinking.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <img class="blog_photo" src="{{ url_for('static', filename='assets/images/DecisionTime.png') }}" alt="A card with an alarm clock"/>
          <p><b>Decision time</b></p>
          <p>When a discussion or meeting has gone on for too long without a decision being made, the person who uses this card must propose a way to reach a decision.</p>
        </div>
        <div class="col-4">
          <img class="blog_photo" src="{{ url_for('static', filename='assets/images/IGI.png') }}" alt="A card with a group of individuals on it"/>
          <p><b>Individual - Group - Individual</b></p>
          <p>This card will facilitate better working sessions by going through an individual - group - individual process. This process gives individuals time to digest information before reaching a team agreement.</p>
        </div>
        <div class="col-4">
          <img class="blog_photo" src="{{ url_for('static', filename='assets/images/DoItTogether.png') }}" alt="A card with two characters drawing a diagram together"/>
          <p><b>Make it together</b></p>
          <p>When two ideas/hypotheticals are in conflict, use this card to get both parties to create something with elements of both (in Sketch, on the whiteboard, in slides, etc.)</p>
        </div>
      </div>
      <p>We will continue to treat team issues like design problems, and invest more time up front to set us up for greater success later on.</p>
      <h2>Re-energize: how will we move forward with our current design prompt?</h2>
      <p>Our team had a great discussion (at the whiteboard!) to confirm our focus for the semester.</p>
      <p>Our goal: To support people with disabilities to disclose what they need to get hired and perform.</p>
      <p>Questions involved in the disclosure experience currently include:</p>
      <ul>
        <li>Why should I disclose my disability?</li>
        <li>Who should I disclose to?</li>
        <li>When is disclosure necessary? </li>
        <li>How should I disclose?</li>
        <li><b>Should I disclose at all?</b></li>
      </ul>
      <p>Among these questions, our team finds disrupting “whether to disclose” the most interesting, as it involves giving more power to the person with a disability. We want to help people with disabilities make a more informed decision during their own disclosure experience. Some current measures of success for us will be making people with disabilities feel supported, eliminating surprises, and removing uncertainty during the disclosure experience.</p>
      <p>From our spring research, we also know there are a variety of factors that contribute toward making a person more or less likely to disclose a disability. These may be useful when treated as design considerations or constraints. Our team represented these factors using this visual model:</p>
      <img class="blog_photo" src="{{ url_for('static', filename='assets/images/dimensions-of-disclosure.png') }}" alt="A diagram which lists the following disclosure factors: Personality, Necessity, Understanding of Needs, Directness of Results, Impression of Company, Impression of Interaction, Visibility of Disability and Self-Esteem"/>
      <p>After considering the factors above, we realized several decisions are still needed to narrow our scope (e.g. should we focus on people with visible or invisible disabilities?). That being said, we can still start prototyping right away! In fact, we think our designs will be able to help us make some of these scoping decisions later on. Another commitment for us this semester will be more making and research by design.</p>
      <p>See you next week at the starting line!</p><br/>
    </div><!-- End blog_page -->
  </div><!-- end blog_container -->
  <div id="blog_footer" class="row">
    <div class="col-3">
      <h1 class="team_member">Up<br/>Next</h1>
    </div>
    <div class="col-1"></div>
    <div class="col-5">
      <div class="blog_footer_week">Week 2</div>
      <h2>Starting to Sprint</h2>
      <p>No one wants to get stuck in the past. However, in the words of G.K. Adams, sometimes it's necessary to find the right path ahead. This week, our team took Adams’ message to heart, as we worked toward a final design concept.</p>
    </div>
    <div class="col-1"></div>
    <div class="col-1">
      <a class="all_posts" href="{{ url_for('blog_week_2') }}">Read More</a>
    </div>
  </div>
  <div class="col-1"></div>
    {% include "footer.html" %}
  </body>
</html>
