<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

                    <title>Team Blog - Week Two</title>

                    <!-- CSS -->
                    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.min.css') }}">
                        <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">
                            <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
                                <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
                                    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

    </head>


    <body id="main">
        <!--<div id="for_testing"></div>-->
        {% include "header.html" %}

      
  <div id="page_title">
    <div class="row">
      <div class="col-1"></div>

      <a class="all_posts" href="{{ url_for('blog') }}">< BACK TO ALL POSTS</a>
    </div>

        <div class="row">
                <div class="col-1"></div>

          <div id="heading" class="col-7">Starting to Sprint 
           <div class="blog_week">WEEK 2</div>
        </div>
       <div class="col-6">
</div>
</div>
  </div>

        <div class="blog_container">
            <!-- Portfolio -->
            <div class="blog_page">
                <div class="blog_quote"><i>Looking back lets you know whether or not you are headed in the right direction. -- G.K. Adams</i></div><br/>
                <h2>No one wants to get stuck in the past.</h2>
                <p>However, in the words of G.K. Adams, sometimes it's necessary to find the right path ahead. This week, our team took Adams’ message to heart, as we worked toward a final design concept.</p>
                <h2>Looking back</h2>
                <p>By the end of spring semester, our team had developed two valuable pieces of work:</p>
                <ol>
                  <li>A service blueprint that captured numerous data points from our onsite research on the hiring and onboarding process</li>
                  <li>Three design concepts tested with people with disabilities</li>
                </ol>
                <p>This week was our chance to look back at all of the data--from the service blueprint, testing notes, and other external research--under the new lens of disclosure. From these sources, we synthesized over 40 data points and 20 breakdowns in the current disclosure experience.</p>
                <p>One of the key breakdowns we identified relates to work performance. People with non-obvious disabilities may not disclose out of fear that if they do they will not get a job or promotion. However, sometimes this means that they do not get what they need to be successful. They end up not getting the job or promotion because of perceived performance issues.</p>
                <img class="blog_photo" src="{{ url_for('static', filename='assets/images/futurevscurrent.png') }}" alt="In the current state, there is no disclosure which leads to no accommodations. In a future state a person makes an informed disclosure decision which could result in either a needed accommodation or no unneeded accommodations"/>
                <div class="photo_caption">A simple model of the current and potential future state of this breakdown. We recognize that in reality the emotions involved are extremely complex.</div><br/>
                <div>The key need we decided to address is the idea that people with non-obvious disabilities need to better understand the risk/benefits of disclosure. ​<b>How might we communicate the value of disclosure and/or minimize the risk?</b></div>
                <h2>Moving forward</h2>
                <p>We had our prompt. Now we were ready to ideate!</p>
                <p>Our team spent about six hours total coming up with different ideas, and tried a couple of new techniques from previous sessions to really spark creative fireworks.</p>
                <ol>
                  <li><b>External design inspiration.​</b> Two team members researched examples of design from analogous domains and presented them to the rest of the team. We also kept these examples up during later ideation sessions. These examples ranged from the ​<a class="team_links" href="https://gizmodo.com/is-the-dominos-pizza-tracker-telling-the-truth-1642997792">Domino's</a> pizza tracker​ (a great example of forecasting long-term value) to marketing examples of ​<a class="team_links" href="https://en.wikipedia.org/wiki/Anchoring">anchoring</a>.</li>
                  <li><b>Round robin technique.</b> Each person developed a design feature, and then passed it around to other team members who would add on comments/features, etc. This created a more “yes, and!” atmosphere.</li>
                </ol>
                <img class="blog_photo" src="{{ url_for('static', filename='assets/images/round-robin.jpg') }}" alt="A piece of paper folded into thirds with one idea written and drawn on each third"/>
                <div class="photo_caption">An example from our Round Robin ideation. Can you guess the handwriting?</div>
                <p>From about 40 potential features, we were able to narrow them down to five prototypes to build and test the following week. First, by clustering similar features together into concepts, and then by assessing each concept according to three metrics:</p>
                <ol>
                  <li>Do we believe this concept addresses our original need statement? (1-5)</li>
                  <li>Does this concept address our client's key needs? (1-5)</li>
                  <li>Is this concept in the realm of technical feasibility? (1-5)</li>
                </ol>
                <p>We are also adding to our participant pool with a variety of new associations and resources in the NYC area. We’re excited to see what goes well when we present these to people and, perhaps more importantly, what goes wrong, so we can make sure we’re moving in the right direction.</p><br/>
            </div><!-- End blog_page -->
        </div><!-- end blog_container -->
        <div id="blog_footer" class="row">
            <div class="col-3">
                <h1 class="team_member">Up<br/>Next</h1>
            </div>
            <div class="col-1"></div>
            <div class="col-5">
                <div class="blog_footer_week">Week 3</div>
                <h2>Finding A New Need</h2>
                <p>What a difference a week makes! Our team always learns so much from research, and this week was no exception. Through recruiting and interviewing users and conducting secondary research, we came to the end of our first summer sprint with a focused need to guide us through the rest of the project.</p>
            </div>
            <div class="col-1"></div>
            <div class="col-1">
                <a class="all_posts" href="{{ url_for('blog_week_3') }}">Read More</a>
            </div>
        </div>
        <div class="col-1"></div>
        {% include "footer.html" %}
    </body>
</html>
